body {
	font-family: arial, sans-serif;
	color: #222;
	background: #fff;
	font-size: 13px;

}

.navbar {
	display: flex;
	float: right;
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
	align-items: center;
	justify-content: flex-end;
}
.navbar li{
	display: inline-block;
	line-height: 24px;
	outline: none;
	vertical-align: middle;
	
	
   
   
}
a{
	 text-decoration: none;
	padding-right: 15px;
	color: #000000de;
	
}
a:hover {
    text-decoration: underline;
}

#apps-icon {
	display: inline-block;
	outline: none;
	vertical-align: middle;
	border-radius: 2px;
	box-sizing: border-box;
	

}
#apps-icon {
	background-image:  url("../images/apps_icon.png");
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	background-position: -120px -30px;
	opacity: .55;

}
#apps-icon:hover {
	opacity: 1;
}
#enter-button{
	font-weight: bold;
	color: #fff;
	outline: none;
	border: 1px solid #4285f4;
	background: #4387fd;
	border-radius: 4px;
	line-height: 28px;
	padding: 3px 12px;

}
img {
	width: 272px;
	height: 92px;

}
.logo{
	padding-top: 109px;
}
#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 584px;
    height: 44px;
    margin-top: 25px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
}
#search-bar input {
    width: 520px;
    height: 34px;
    border-width: 0;
    font-size: 16px;

}

#mic {
    height: 24px;
    width: 24px;
    margin-left: 8px;
}

#mic:hover {
    cursor:pointer;
}

#search-buttons {
    margin-top: 25px;
    margin-bottom: 20px;
}

#search-buttons input[type="submit"] {
    color: rgb(117, 117, 117);
    background: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 16px;
    margin: 10px 4px;
    height: 36px;
}

#search-buttons input[type="submit"]:hover {
    color: #222;
    border-color: rgb(198, 198, 198);
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background: linear-gradient(top,#f8f8f8,#f1f1f1);
}

div .content {
	justify-content: center;

}

footer {
    font-size: small;
    background-color: rgb(242, 242, 242);
    border-color: rgb(228, 228, 228);
    border-style: solid;
    border-width: 1px 0 0 0;
    line-height: 40px;
}

.footer-nav-left {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: flex-start;
	margin-left: 30px;
	box-sizing: border-box;
	float: left;
}
.footer-nav-right {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: flex-end;
	margin-right:30px;
	box-sizing: border-box;
}
.footer li {
	display: inline-block;
	text-decoration: none;
}

.footer a{
    color: #5f6368;
}




